@font-face {
    font-family: 'akrobatregular';
    src: url('../fontes/akrobat-regular-webfont.woff2') format('woff2'),
         url('../fontes/akrobat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas neue';
    src: url('../fontes/bebasneue-webfont.woff2') format('woff2'),
         url('../fontes/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
	font-family: 'akrobatregular';
    border-radius: 0px;
}

/* BACKGROUNDS */

.bg-preto {
    background: #000;
}
.bg-cinza {
    background: #CFCFCF;
}
.bg-cinza2 {
    background: #b5b5b5;
}

/* BORDAS */

.bt-preta {
    border-top: solid 3px #000;
}
.bb-preta {
    border-bottom: solid 3px #000;
}
.b-cinza {
    border: solid 2px #B5B5B5;
}

/* BOTOES */

.btn {
    border-radius: 0px;
}
.btn-azul {
    background: #00a3b2;
}
.btn-azul:hover {
    background: #00EAFF;
}
.btn-azul2 {
    background: none;
    border: solid 3px #00a3b2;
}
.btn-azul2:hover {
    background: #00EAFF;
}
.btn-laranja {
    background: #f60;
}
.btn-laranja:hover {
    background: #FFB482;
}
.btn-laranja2 {
    border: solid 3px #f60;
    color: #f60;
}
.btn-laranja2:hover {
    color: #000;
}
.btn-cinza {
    background: #fff;
    border: solid 3px #B5B5B5;
    color: #B5B5B5;
}
.btn-cinza:hover {
    border: solid 3px #f60;
    color: #f60;
}






.tituloIndex {
    border-bottom: solid 2px #000;
    padding: 5px 0px;
    margin-bottom: 20px;
}
.detalheTituloLateral {
    height: 0px;
    width: 0px;
    float: right;
    margin-top: -30px;
    border-top: 5px solid transparent;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid transparent;
}

.jogoIndex {
    margin-bottom: 20px;
}
.jogoIndex img {
    border: solid 5px #fff;
}
.jogoIndex:hover img {
    border: solid 5px #000;
    cursor: pointer;
}

/* TORNEIOS */

.statusTorneioLista {
    font-size: 14px;
}

/* CAIXAS */

.itemComum {
    border-left: solid 3px #aaaaaa;
}
.itemRaro {
    border-left: solid 3px #1D32F2;
}
.itemEpico {
    border-left: solid 3px #C91DF2;
}
.itemLendario {
    border-left: solid 3px #F2C01D;
}

/* SALAR PERSONALIZADAS */

.campoSenha {
    display: none;
}

